{% if section.settings.enabletext %}

<div style = "text-align: {{section.settings.text_position}}">{{section.settings.textid }}</div>

{%endif%}

{% if section.settings.myimage%}
	<img src = {{section.settings.myimage | img_url: '900x'}} />
{%endif%}

<div class="middle_images">
	{% for block in section.blocks%}
  		<div class = "middle_image_gallery">
  			{% if block.settings.enable_gallery_img %}
          		<a href = {{ block.settings.image_url}}>
          			<img src = {{ block.settings.gallery_img | img_url:'100x'  }}/>
                </a>
          	{% endif %}
  		</div>
  
  	{%endfor%}
</div>


<!-- <div style = "display:flex;width:100%">
  <div style = "width:50%;">
  		Hi Div1
  </div>
	
  <div style = "width:50%;">
  		Hi div2
  </div>
  
</div> -->